* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #200d42 36.21%,
    #4f21a1 68.68%,
    #a46edb 86.54%
  );
  gap: 0px;
  opacity: 0px;

}

.H1{
  font-family: DM Sans;
  font-size: 165px;
  font-weight: 700;
  line-height: 125px;
  letter-spacing: -0.075em;
  text-align: center;
  color: white;
  
}
   
  