*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
 
gap: 0px;
opacity: 0px;
background: linear-gradient(
    180deg,
    #000000 0%,
    #200d42 36.21%,
    #4f21a1 99.92%

  );



}